* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fce4ec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffe6e6;
    border-radius: 120px;
    width: 1400px;
    box-shadow: 0 4px 10px rgba(255, 148, 168, 0.9);
    margin-left: 4%;
    margin-right: auto;
    
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    clip-path: circle(50%);
}

nav ul {
    position: relative;
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 50px;
    background-color: #f4b0b0;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: #ff9999;
}

.profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: cover;
    transition: 0.3s ease;
    cursor: pointer;
  
}

.profile:hover{
    transform: scale(1.1); /*enlarge on hover*/
    background-color: #ff9999;
}

.content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ffd1dc;
    border-radius: 25px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.category {
    width: 150px;
    padding: 15px;
    border: 1px solid #ffd1dc;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.category:hover {
    background-color: #ffe6eb;
}

.category p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.faq {
    margin-top: 30px;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.faq-header h2 {
    font-size: 20px;
}

.faq-header a {
    text-decoration: none;
    font-size: 16px;
    color: #ff6f91;
}

.faq-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ffd1dc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.faq-item p {
    font-size: 14px;
    color: #333;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}